{
  acme_dns cloudflare {env.CF_API_TOKEN}
}

(basic_auth) {
    basicauth {
       {env.BASIC_AUTH_USER} {env.BASIC_AUTH_PASSWORD}
    }
}

pavlenko.sh {
    redir https://emby.pavlenko.sh
}

emby.pavlenko.sh {
    reverse_proxy 192.168.1.2:8096
}

transmission.pavlenko.sh {
    reverse_proxy 192.168.1.2:9091
}

grafana.pavlenko.sh {
    reverse_proxy 192.168.1.2:3000
}

victoriametrics.pavlenko.sh {
    import basic_auth
    reverse_proxy 192.168.1.2:8428
}

alertmanager.pavlenko.sh {
    import basic_auth
    reverse_proxy 192.168.1.2:9093
}

photos.pavlenko.sh {
    reverse_proxy 192.168.1.2:2283
}

s.pavlenko.sh {
    root * /var/www/s.pavlenko.sh
    file_server
}
